body{
    margin: 0px;
}
.navigation__div{
    display: flex;
    background-color: rgb(58, 57, 57);
    height: 60px;
    padding: 0.5%;
}
.navigation__item{
    color: azure;
}
.navigation__div__item{
    /* position: absolute;
    right: 2%; */
}
.navigation__btn{
    background-color: aqua;
    border: 20px soild white;
    border-width: 2 px;
}
.navigation__a{
    /* display: inline-block;
    width: fit-content;
    text-decoration: none;
    margin: 0px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 11pt;
    margin-top : 10px;
    padding: 2px;
    position: absolute;
    right: 25%; */
}
.navigation__form{
    position: absolute;
    right: 120%;
}
.home__div{
    margin-top: 2%;
    margin-left: 5%;
}
.home__div__div{
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    border: 2px solid rgb(216, 209, 209);
    background-color: rgb(235, 235, 235);
}